.participant-container {
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    width: 100%;
}

.participant-row {
    margin-top: 2%;
}
.participant-details {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.participant-details h6 {
    margin-bottom: 10px;
}

.participant-details p {
    margin: 5px 0;
}
.button{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}
.formControl{
    width: 400px;
    margin: 20px;
}
.drawer {
    width: 240px;
    flex: 0;
}
.drawerPaper {
    width: 240px;
}
.toolbar {
    min-height: 64px;
}
.details{
    width: 100%;
    display: flex;

}
.details-body{
    flex-grow: 1;
    margin-left: 30px;
}
.observation-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.observation-header {
    display: flex;
    flex-direction: row;
}

.separed-container{
    display: flex;
    justify-content: space-between;
}

